<!DOCTYPE html>
<html lang="es">

<head>
    <title>My Device</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta charset="UTF-8">
    <!-- Interfaz principal para el control remoto del robot -->
    <style>
        /* Estilo general: fondo oscuro, sin scroll */
        html,
        body {
            margin: 0;
            padding: 0;
            overflow: hidden;
            background: #222;
        }
    
        canvas {
            display: block;
        }
    </style>
    
    <!-- Importamos Konva.js -->
    <script src="static/konva.min.js"></script>
</head>

<body scroll="no">
    <!-- Canvas donde se renderiza el joystick y botones de control -->
    <canvas id="canvas" name="game"></canvas>
    <!-- Carga el script de control de la interfaz -->
    <script src="static/index.js"></script>
</body>

</html>